.footer {
    background: #555;
    width:100%;
    margin-top: auto;

    padding:1rem;
}

.inner-container {
    margin: 0 auto;
    width: 960px;
    display: flex;
}

.inner-container nav li{
    list-style: none;
    padding:0.45rem;
}
.inner-container nav a{
    background-color:#FFF;
    color:#333;
    padding:20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
.inner-container nav a:hover{
    background-color:#f2923c;
    color:#FFF;
}
.brand-link {
    color: #FFF;
    text-decoration: none;
    line-height: 2em;
}
.social-container {
    margin:auto;
}
.social-container ul{
    display:flex;
    list-style: none;
    padding:0;
    margin:5px 0;
}
.social-container ul li{
    margin:0 10px;
    line-height: 0;
}
.social-container a.icon{
    background-repeat: no-repeat;
    color:#FFF;

}
.social-container i{
    margin-right:10px;
    color:#DDDDDD;
}

@media (max-width: 480px) {
    .inner-container{
        width: 100%;
    }
    .footer{
        width: auto;
    }

.hide-mobile { display: none; }

}
