.header {
    background: #555;
    margin-bottom:40px;
}

.inner-container {
    margin: 0 auto;
    width: 960px;
    padding: 0.45rem 1.0875rem;
    display: flex;
    justify-items: space-between;
    align-items: center;
}

.inner-container nav{
    display: flex;
    margin-left: auto;
}
.inner-container nav ul{
    display: flex;
    flex-direction:row;
}
.inner-container nav li{
    flex: auto;
    list-style: none;
    text-align: center;
    display: block;

    margin: 0 0.20rem
}
.inner-container nav a{
    background-color:#e7d8d8;
    color:#333;
    text-decoration: none;
    font-weight: bold;
    padding:0.50rem;
}
.inner-container nav a:hover{
    background-color:#1c1a1a;
    color:#f2923c;
}
.brand-link {
    line-height:3rem;
    display: inline-block;
    margin:0;
    text-align: center;
}
.brand-link a {
    text-decoration: none;
    color:#e7d8d8;
}
.brand-link a:hover {
    color:#e7d8d8;
    text-decoration: underline;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu ul{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
}


@media (max-width: 480px) {
    .inner-container{
        width: 100%;
        padding:0;
    }
}
@media (max-width: 736px) {
    .brand-link{
        width: 30%;
    }
    html {
        font-size: 12px;
    }
}