.header {
    background: #555;
    border-bottom: 10px solid #f2923c;
}

.outer-container {
    margin-bottom: 0.25rem;
}

.inner-container {
    margin: 0 auto;
    width: 960px;
    padding: 0.45rem 1.0875rem;
    display: flex;
    justify-items: space-between;
    align-items: center;
}

.inner-container nav li{
    list-style: none;
    margin:1.2rem auto;
    text-align: center;
}
.inner-container nav a{
    background-color:#FFF;
    color:#333;
    padding:0.625rem;
    text-decoration: none;
    border-radius: 0.625rem;
    font-weight: bold;
}
.inner-container nav a:hover{
    background-color:#f2923c;
    color:#FFF;
}
.brand-link {
    color: #FFF;
    text-decoration: none;
    line-height:3rem;
    display: flex;
    width:100%;
    margin-right: 10px;
    margin-left:10px;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu ul{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
}


@media (max-width: 480px) {
    .inner-container{
        width: 100%;
        padding:0;
    }


}
