body{
  margin:0;
  font-family: 'Open Sans', Arial, serif;
  font-size:1.2em;
  line-height: 1.4em;
  color:#333;
  background-color: #FFF;
}

a{
    color:#f2923c;
    text-decoration: none;
    padding:2px;
}

a:hover{
  background-color:#f2923c;
  color:#FFF;
}

