body{
  margin:0;
  font-family: 'Open Sans', Arial, serif;
  font-size:1.2em;
  line-height: 1.4em;
  color:#333;
  background-color: #FFF;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a{
    color:#f2923c;
    text-decoration: none;
    padding:2px;
}
.container{
    margin: 0 auto;
    width: 960px;

}
.inner-container{
    padding: 0 1.0875rem 1.45rem;
}
a:hover{
  text-decoration:underline;
}

@media (max-width: 480px) {
    .container{
        width: 100%;
    }
    html {
        font-size: 12px;
    }
}

@media (max-width: 736px) {
    .container{
        width: 100%;
    }
    html {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}
